.btn_style_1
{
    display: flex;
    height: 40px;
    padding: 5px 40px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--lighter-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: var(--darker-color);
}

.btn_style_1:hover
{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.125);
}

.btn_style_1:active
{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.btn_style_1_ot
{
    height: 40px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--lighter-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 20px;
    color: var(--darker-color);
}

.btn_style_1_ot:hover
{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.125);
}

.btn_style_1_ot:active
{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.btn_style_2
{
    display: flex;
    height: 40px;
    padding: 5px 40px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--lighter-color);
    color: var(--darker-color);
    border: 1px solid var(--darker-color);
    background: var(--lighter-color);
}

.btn_style_2:hover
{
    border-color: var(--darker-color-opasity);
}

.btn_style_2:active
{
    border-color: var(--lighter-color);
}

.btn_style_3
{
    display: flex;
    height: 40px;
    padding: 5px 40px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--lighter-color);
    color: var(--darker-color);
    border: 1px solid var(--lighter-color);
    background: var(--white-color-half-opasity);
}
  
.btn_style_3:hover
{
    border-color: var(--darker-color-opasity);
}

.btn_style_3:active
{
    border-color: var(--darker-color);
}

.btn_style_4
{
    display: flex;
    height: 40px;
    padding: 5px 40px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background: var(--lighter-color);
    color: var(--darker-color);
    border: none;
    background: var(--white-color-half-opasity);
}

.btn_style_4:hover
{
    border-bottom: 2px solid var(--darker-color-opasity);
}

.btn_style_4:active
{
    border-bottom: 2px solid var(--darker-color);
}
