@using Database.UseCases
@inherits LayoutComponentBase
 
<header> @* оно так работает, не хочет быть выше, видимо blazor так хочет, хз *@
    <NavLink Match="NavLinkMatch.All" href="/">
        ManagementSystem
    </NavLink>
    @* <div> *@
    @*     @if (!_isLogged) *@
    @*     { *@
    @*         <button class="btn_style_4">Sign In</button> *@
    @*         <button class="btn_style_4">Sign Up</button> *@
    @*     } *@
    @*     else *@
    @*     { *@
    @*         $1$ <b>@User_UseCases.GetCurrentUser()!.UserInfo.FirstName</b> #1# *@
    @*         <button class="btn_style_4">Log Out</button> *@
    @*     } *@
    @* </div> *@
</header>

<div class="body_container">
    <div class="custom_sidebar">
        <NavMenu/>
    </div>
    <div class="content_container">
        @Body
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>