@using System.Security.Claims
@inherits LayoutComponentBase


<div class="page">
    <div class="bg_salate sidebar "> 
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <div class="btn-group justify-content-between gap-2">
                <AuthorizeView>
                    <Authorized>
                        <div class="d-flex align-items-center">
                            <b class="color_darker fs-3">@context.User.Claims.First(x => x.Type == ClaimTypes.Email).Value</b>
                            <NavLink Match="NavLinkMatch.All" href="api/auth/sign_out" class="btn btn-outline-secondary">Log Out</NavLink>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink Match="NavLinkMatch.All" href="/auth/sign_in" class="btn btn-secondary">Sign In</NavLink>
                        <NavLink Match="NavLinkMatch.All" href="/auth/sign_up" class="btn btn-secondary">Sign Up</NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>