@inherits LayoutComponentBase
 
<header> @* оно так работает, не хочет быть выше, видимо blazor так хочет, хз *@
    <NavLink Match="NavLinkMatch.All" href="/">
        ManagementSystem
    </NavLink>
</header>

<div class="body_container">
    <div class="custom_sidebar">
        <NavMenu/>
    </div>
    <div class="content_container">
        @Body
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
