<div class="navbar-custom_sidebar">
    <div class="navbar_container-custom_sidebar">
        <NavLink class="btn_style_1" Match="NavLinkMatch.All" href="/" >Home</NavLink>
        <NavLink class="btn_style_1" Match="NavLinkMatch.All" href="/buttons">Counter</NavLink>
        <NavLink class="btn_style_1" Match="NavLinkMatch.All" href="/weather">Weather</NavLink>
    </div>
</div> 