:root
{
    --darker-color : #668705;
    --darker-color-opasity : rgba(102, 135, 5, 0.50);
    --salate-color : #bed281;
    --salate-color-opasity : rgba(190, 210, 129, 0.50);
    --lighter-color : #E3F2B7;
    --lighter-color-opasity : rgba(227, 242, 183, 0.50);
    --white-color-half-opasity : rgba(255, 255, 255, 0.50);
}


.color_darker
{
    color: var(--darker-color);
}

.color_darker_op
{
    color: var(--darker-color-opasity);
}

.bg_darker
{
    background: none;
    background: var(--darker-color);
}

.bg_darker_op
{
    background: none;
    background: var(--darker-color-opasity);
}

.color_salate
{
    color: var(--salate-color);
}

.color_salate_op
{
    color: var(--salate-color-opasity);
}

.bg_salate
{
    background: none;
    background: var(--salate-color);
}

.bg_salate_op
{
    background: none;
    background: var(--salate-color-opasity);
}

.color_lighter
{
    color: var(--lighter-color);
}

.color_lighter_op
{
    color: var(--lighter-color-opasity);
}

.bg_lighter
{
    background: none;
    background: var(--lighter-color);
}

.bg_lighter_op
{
    background: none;
    background:var(--lighter-color-opasity);
}