@page "/login"
@using Database.UseCases
@using ManagementSystem.Auth
@using ManagementSystem.Models
@using Microsoft.AspNetCore.Components.Authorization
@layout Layout.EmptyLayout
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<div class="login_form">
    <B class="ctext-darker" style="font-size: 24px; align-self: stretch; text-align: center">Login</B>
    <p role="status">@_message</p>
    <EditForm Model="Input" FormName="LoginForm" class="login_form-input_fields" OnValidSubmit="LoginAsync">
        <div class="login_form-input_field">
            <p class="p-0 ctext-darker" style="font-size: 14px;">login</p>
            <InputText name="login" type="text" @bind-Value="Input.Login" placeholder="your login..."/>
            <ValidationMessage For="() => Input.Login " />
        </div>
        <div class="login_form-input_field">
            <p class="p-0 ctext-darker" style="font-size: 14px;">password</p>
            <InputText name="password" type="password" @bind-Value="Input.Password" placeholder="your password..."/>
            <ValidationMessage For="() => Input.Password " />
        </div>

        <button class="btn_style_1_ot" type="submit">Login</button>
    </EditForm>
</div>

@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    private AuthProvider AuthProvider { get; set; } = default!;

    private LoginModel Input { get; set; } = new();

    private string _message = "";
    
    private async void LoginAsync()
    {
        try
        {
            var result = await AuthProvider.LoginAsync(Input);
            if (result.IsSuccess)
            {
                _message = result.Message; 
                NavigationManager.NavigateTo($"api/auth/sign_in/{result.Token}&");
            }
            else
            {
                if (result.Message == "Unauthorized")
                {
                    _message = "[KVAK] User is not found =(";
                }
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}