@page "/login"
@using Database.UseCases
@using ManagementSystem.Auth
@using ManagementSystem.Models
@using Microsoft.AspNetCore.Components.Authorization
@layout Layout.EmptyLayout
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<div class="login_form">
    <B class="ctext-darker" style="font-size: 24px; align-self: stretch; text-align: center">Login</B>
    <form class="login_form-input_fields" @oninvalid="LoginAsync">
        <div class="login_form-input_field">
            <p class="p-0 ctext-darker" style="font-size: 14px;">login</p>
            <input name="login" type="text" @bind="Input.Login" placeholder="your login..."/>
        </div>
        <div class="login_form-input_field">
            <p class="p-0 ctext-darker" style="font-size: 14px;">password</p>
            <input name="password" type="password" @bind="Input.Password" placeholder="your password..."/>
        </div>

        <button class="btn_style_1_ot" type="submit">Login</button>
    </form>
</div>

@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    private AuthProvider AuthProvider { get; set; } = default!;

    private LoginModel Input { get; set; } = new();
    
    private async void LoginAsync()
    {
        try
        {
            var result = await AuthProvider.LoginAsync(Input);
            if (result.IsSuccess)
            {
                NavigationManager.NavigateTo($"api/auth/sign_in/{result.Token}&");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}