@page "/weather"
@using Database.Models.RoleModels
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@attribute [StreamRendering]
@attribute [Authorize] 

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (_roles == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!_roles.Any())
{
    <p>
        <em>Empty</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var role in _roles)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.RoleName</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    private IEnumerable<RoleModel>? _roles;

    protected override async Task OnInitializedAsync()
    {
        await LoadRoles();
    }

    private async Task LoadRoles()
    {
        
    }

}